extends ../layout

block content
  .row
    .col-md-12
      h1.text-center Sıra, <b class='text-danger'>Kırmızı Takım</b>'ın <b class='text-danger'>Şeyma</b> oyuncusunda
  .row
    .col-md-6
      .panel.panel-danger
        .panel-heading
          h3.panel-title Kırmızı Takım
        .panel-body
          .game-board
            .game-container
              .game-message
                p
                .lower
                  a.keep-playing-button Oynamaya Devam
                  a.retry-button Yeniden Oyun Teklifi
                  .score-sharing
              .grid-container
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
              .tile-container
    .col-md-6
      .panel.panel-info
        .panel-heading
          h3.panel-title Mavi Takım
        .panel-body
          .game-board
            .game-container
              .game-message
                p
                .lower
                  a.keep-playing-button Oynamaya Devam
                  a.retry-button Yeniden Oyun Teklifi
                  .score-sharing
              .grid-container
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
                .grid-row
                  .grid-cell
                  .grid-cell
                  .grid-cell
                  .grid-cell
              .tile-container