extends ../layout

block content
  h1 Multiplayer 2018
  p.lead 2048 oyununu arkadaşlarınla oyna. 4 kişiden 12 kişiye kadar destekler.
  hr
  .row
    .col-sm-6
      h2 Oyun İstatistikleri Açıldı!
      p Önceki oyunlardaki başarıları görebileceğiniz istatistikler bölümü açıldı.
      p
        a.btn.btn-default(href='#', role='button') Detayları göster »
    .col-sm-6
      h2 Oyun İstatistikleri Açıldı!
      p Önceki oyunlardaki başarıları görebileceğiniz istatistikler bölümü açıldı.
      p
        a.btn.btn-default(href='#', role='button') Detayları göster »
    .col-sm-6
      h2 Oyun İstatistikleri Açıldı!
      p Önceki oyunlardaki başarıları görebileceğiniz istatistikler bölümü açıldı.
      p
        a.btn.btn-default(href='#', role='button') Detayları göster »
    .col-sm-6
      h2 Oyun İstatistikleri Açıldı!
      p Önceki oyunlardaki başarıları görebileceğiniz istatistikler bölümü açıldı.
      p
        a.btn.btn-default(href='#', role='button') Detayları göster »
